2025/03/9O5vI4KCsceQAJot.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "visit website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "visit website": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Comapny Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "domain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Comapny Researcher",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Comapny Researcher": {
      "main": [
        [
          {
            "node": "AI Researcher Output Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Researcher Output Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get website content": {
      "ai_tool": [
        [
          {
            "node": "AI Comapny Researcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Comapny Researcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-05T12:30:07.874Z",
  "id": "9O5vI4KCsceQAJot",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        -140
      ],
      "id": "b2d19f66-a319-4c28-a3e7-b0cce682531c",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.query.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        -140
      ],
      "id": "b952a41c-6c6b-4e2c-9798-13ece9f7a1de",
      "name": "visit website"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "body",
              "cssSelector": "html",
              "skipSelectors": "head"
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -400,
        -140
      ],
      "id": "8438c58a-869c-4ae1-853a-93b5b5b7bc93",
      "name": "HTML"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1560,
        340
      ],
      "id": "07b2cf7a-f4b4-489f-a89b-27915a1e7bf6",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk",
          "mode": "list",
          "cachedResultName": "Enrich companies using AI agents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "enrichment_status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1340,
        340
      ],
      "id": "8de86662-0058-40d2-a887-41c873d627d5",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U0ncVVDUHy9wZ1H0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -900,
        340
      ],
      "id": "b4affe49-6943-4734-8716-ac699343cfc2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the company I want you to research info about:\n{{ $json.company_input }}\n\nReturn me:\n- the linkedin URL of the company\n- the domain of the company. in this format ([domain].[tld])\n- market: if they are B2B or B2C. Only reply by \"B2B\" or \"B2B\"\n- the lowest paid plan the company is offering. If you are not sure, reply null.\n- the latest case study URL published on the website (find case study hub using google, and return the first case study link)\n- tell me if the company offer an API\n- tell me if the company has an enterprise plan\n- tell me if the company has a free trial mentionned in their homepage. reply false if you don't find strong evidence.\n- return an array with up to 5 tools the company is integrated with",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -580,
        440
      ],
      "id": "e35048cc-9263-4e8d-aaf0-eee801b46a13",
      "name": "AI Comapny Researcher"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c418e8d-dc0e-4bcd-862b-8a63054416b9",
              "name": "company_input",
              "value": "={{ $json.input }}",
              "type": "string"
            },
            {
              "id": "d589e84c-b407-495e-8c94-66d582b97a8e",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        340
      ],
      "id": "964abbb3-66ba-4a36-90c3-cef9c1724596",
      "name": "domain"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"case_study_link\": {\n\t\t\t\"type\":[\"string\", \"null\"]\n\t\t},\n      \t\t\"domain\": {\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n           \"linkedinUrl\": {\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n     \t\"market\": {\n\t\t\t\"type\": [\"string\", \"null\"]\n\t\t},\n\t\t\"cheapest_plan\": {\n\t\t\t\"type\": [\"number\", \"null\"]\n\t\t},\n\t\"has_enterprise_plan\": {\n\t\t\t\"type\": [\"boolean\", \"null\"]\n\t\t},\n\t\"has_API\": {\n\t\t\t\"type\": [\"boolean\", \"null\"]\n\t\t},\n\t\"has_free_trial\": {\n\t\t\t\"type\": [\"boolean\", \"null\"]\n\t\t},\n\t\"integrations\": {\n\t\t\t\"type\": [\"array\",\"null\"],\n      \"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -220,
        700
      ],
      "id": "3482dde2-53cb-4026-84a2-6f137b1ccac3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ab66ec8-b20d-4e6d-bc23-5b2e36badade",
              "name": "domain",
              "value": "={{ $json.output.domain }}",
              "type": "string"
            },
            {
              "id": "b3396e2d-bf2e-4861-b12c-c0824684a3a4",
              "name": "linkedinUrl",
              "value": "={{ $json.output.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "43c36508-9cf2-4c13-a794-68245cd6f7df",
              "name": "market",
              "value": "={{ $json.output.market }}",
              "type": "string"
            },
            {
              "id": "c292a8a0-0775-491c-88ce-48092b5a9e25",
              "name": "cheapest_plan",
              "value": "={{ $json.output.cheapest_plan }}",
              "type": "string"
            },
            {
              "id": "1d3553f1-26a1-4b78-aafa-d6689a16bbd8",
              "name": "has_enterprise_plan",
              "value": "={{ $json.output.has_enterprise_plan }}",
              "type": "boolean"
            },
            {
              "id": "ce1e4fad-2a9f-4f02-a751-77c464618beb",
              "name": "has_API",
              "value": "={{ $json.output.has_API }}",
              "type": "boolean"
            },
            {
              "id": "b25846c3-75cf-439e-98fc-cf89cb6b696d",
              "name": "has_free_trial",
              "value": "={{ $json.output.has_free_trial }}",
              "type": "boolean"
            },
            {
              "id": "39a4763e-63e8-4f3a-93ec-c8be5be033f1",
              "name": "integrations",
              "value": "={{ $json.output.integrations }}",
              "type": "array"
            },
            {
              "id": "f7fcb407-c4a3-403f-9673-2484a5c15e07",
              "name": "case_study_link",
              "value": "={{ $json.output.case_study_link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        420
      ],
      "id": "7e007790-eca0-46e9-9d48-c1e3b105bb4f",
      "name": "AI Researcher Output Data"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        100,
        40
      ],
      "id": "0e4d7540-ff4c-4a26-b643-4ed2e5115f08",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk",
          "mode": "list",
          "cachedResultName": "Enrich companies using AI agents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EurcVU7DdQFiPjXhvzqWqtKfr2aQCG1ciMZ6HbO_8jk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "input": "={{ $json.company_input }}",
            "domain": "={{ $json.domain }}",
            "linkedinUrl": "={{ $json.linkedinUrl }}",
            "has_free_trial": "={{ $json.has_free_trial }}",
            "cheapest_plan": "={{ $json.cheapest_plan }}",
            "has_entreprise_plan": "={{ $json.has_enterprise_plan }}",
            "last_case_study_link": "={{ $json.case_study_link }}",
            "market": "={{ $json.market }}",
            "integrations": "={{ $json.integrations }}",
            "has_api": "={{ $json.has_API }}",
            "enrichment_status": "done"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_free_trial",
              "displayName": "has_free_trial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cheapest_plan",
              "displayName": "cheapest_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_entreprise_plan",
              "displayName": "has_entreprise_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_case_study_link",
              "displayName": "last_case_study_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "market",
              "displayName": "market",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "integrations",
              "displayName": "integrations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_api",
              "displayName": "has_api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enrichment_status",
              "displayName": "enrichment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        60
      ],
      "id": "f294a4ad-8122-4ec6-a023-f7b54394a2c6",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U0ncVVDUHy9wZ1H0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "get_website_content",
        "description": "This tool will return the text from the given URL. ",
        "workflowId": {
          "__rl": true,
          "value": "CCSPyyUj25veNRyM",
          "mode": "list",
          "cachedResultName": "get website content"
        },
        "responsePropertyName": "body",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"url\": \"https://n8n.io/\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -460,
        700
      ],
      "id": "8e6fb466-8dd6-4f83-998a-dfc0c1a740d4",
      "name": "Get website content"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -740,
        680
      ],
      "id": "403f3f69-d502-4864-abd7-9159209879c6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a5oyPAwibiOEyC8n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8nFlows21July2025",
  "repo_owner": "mridulsood",
  "repo_path": "https://github.com/mridulsood/n8nFlows21July2025.git",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-05T12:28:09.550Z",
      "updatedAt": "2025-03-05T12:28:09.550Z",
      "id": "DbE1W7TvPI6YMrP4",
      "name": "scraping"
    },
    {
      "createdAt": "2025-03-05T12:28:09.553Z",
      "updatedAt": "2025-03-05T12:28:09.553Z",
      "id": "w15ClPBlw7YPTspn",
      "name": "tool"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-05T12:33:45.000Z",
  "versionId": "6587ead7-7377-4a6b-9b24-f92b5e4cef87"
}