2025/07/eM3oFOG21TXQIVp8.json
{
  "active": false,
  "connections": {
    "Retrieve Long Term Memories": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Tools Agent": {
      "main": [
        [
          {
            "node": "Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Notes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Tools Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Retrieve Long Term Memories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrieve Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Tools Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Tools Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GetLongTermMemories": {
      "ai_tool": [
        [
          {
            "node": "AI Tools Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SaveLongTermMemories": {
      "ai_tool": [
        [
          {
            "node": "AI Tools Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetNotes": {
      "ai_tool": [
        [
          {
            "node": "AI Tools Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SaveNotes": {
      "ai_tool": [
        [
          {
            "node": "AI Tools Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-23T08:40:45.550Z",
  "id": "eM3oFOG21TXQIVp8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "02 Blog: Long-Term Memory Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Retrieve Long Term Memories\nGoogle Docs",
        "height": 380,
        "width": 340,
        "color": 4
      },
      "id": "168a5933-b156-402f-8e4d-a398c2aeaaba",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save To Current Chat Memory (Optional)",
        "height": 380,
        "width": 280
      },
      "id": "5d043a08-6a68-4e6c-894d-8343051e8482",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1140,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save Long Term Memories\nGoogle Docs",
        "height": 380,
        "width": 280,
        "color": 4
      },
      "id": "1704b54f-81b0-41d0-a5ee-6db7a60c4b07",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6f68b1c-a6a6-44d4-8686-dc4dcdde4767",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6535b9b4-2947-4809-b340-ea29cf2ccd97",
      "name": "Chat Response",
      "type": "n8n-nodes-base.set",
      "position": [
        1540,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/11H1SDQnvaKzu6ejvsurKBh7iO6d_Jf0AiA1FrVuWmMc/edit?tab=t.0"
      },
      "id": "451c546c-2103-4039-bb73-0c136c3099b8",
      "name": "Retrieve Long Term Memories",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        120,
        140
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "z4zjcx9Q0SaMQymM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## LLM",
        "height": 380,
        "width": 280,
        "color": 3
      },
      "id": "453378c7-b578-4ac6-add2-acdc4c050fad",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI AGENT with Long Term Memory & Note Storage",
        "height": 780,
        "width": 1320,
        "color": 5
      },
      "id": "01530e59-0475-4b76-93d2-310fd277f4a0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        780,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {
          "systemMessage": "=You are the LongTermMemoryAIAgent.\n\nROLE:\n- Manage, retrieve, and store long-term user memories and notes. Support context-aware operations for other agents by providing memory context. You ensure that the AI has accurate, up-to-date background knowledge to personalize and enhance interactions.\n\nTOOLS YOU CAN USE:\n1. GetLongTermMemories - Retrieves long-term memories and relevant facts about the user.\n2. SaveLongTermMemories - Saves important facts and insights to long-term memory.\n3. GetNotes - Retrieves user-written notes and context items.\n4. SaveNotes - Stores new user notes for future reference.\n\nHOW TO WORK:\n\n1. **Understand the User Intent:**\n   - Carefully review what the user is asking.\n   - Look for references to memory, knowledge, or past experiences.\n\n2. **Use Long-Term Memory (Always):**\n   - Always begin by retrieving context using:\n     - GetLongTermMemories\n     - GetNotes\n   - Merge both into a single structured context object.\n   - Use this context to enrich and personalize responses.\n\n3. **Save New Insights:**\n   - If the user shares a fact, insight, or note-worthy information:\n     - Use SaveLongTermMemories or SaveNotes accordingly.\n     - Label entries clearly for future retrieval.\n\n4. **Respond to the User Clearly:**\n   - Summarize what was retrieved or saved.\n   - Confirm with the user if they’d like to store new insights or retrieve more.\n   - Provide concise, conversational feedback.\n\nRULES:\n- Always try memory retrieval before claiming no context is available.\n- Never say “I cannot fulfill this” unless no tools are available.\n- Keep messages helpful, brief, and easy to act upon.\n- Use memory tools in every cycle, unless the user is only saving new input.\n- Never ignore available tools — retrieve before fallback.\n- Maintain structured JSON format when interacting with other agents.\n\nEXAMPLE 1:\nUser: “Remind me what I told you about my hospital plans.”\n→ Retrieve memories and notes.\n→ Merge context.\n→ Respond with summary and ask if user wants to update it.\n\nEXAMPLE 2:\nUser: “Save that I want to hire 2 more engineers.”\n→ Use SaveLongTermMemories with label: “Hiring Plan”\n→ Respond: “Got it! I’ve saved that you plan to hire 2 engineers.”\n\nFORMAT FOR MEMORY RETRIEVAL OUTPUT:\n{\n  \"memory\": [...],\n  \"notes\": [...]\n}\n\nFORMAT FOR SAVING INPUT:\n{\n  \"type\": \"memory\" or \"note\",\n  \"label\": \"Short keyword or summary\",\n  \"content\": \"The full information to save\"\n}\n\nFORMAT FOR USER RESPONSE:\n“✅ Noted and saved.” / “Here’s what I found...” / “Nothing saved yet — would you like me to store this?”\n\nStay reliable, memory-aware, and helpful."
        }
      },
      "id": "e0d0f054-b218-4dde-ae71-83cc98310a09",
      "name": "AI Tools Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1160,
        320
      ],
      "typeVersion": 1.7,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Save Notes\nGoogle Docs",
        "height": 380,
        "width": 280,
        "color": 4
      },
      "id": "7262bebb-ea8f-4b3b-acae-5a1219588896",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1780,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Retrieve Notes\nGoogle Docs",
        "height": 380,
        "width": 340,
        "color": 4
      },
      "id": "c25fbd8c-3cb5-4ead-adf8-99bf177f42ab",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1iJY2WvGlJghwnLCOto-PjgwsJ1UhSSSxI2fFs-HZ3k4/edit?tab=t.0"
      },
      "id": "871cb841-3411-4ade-89ab-b6f97abe8906",
      "name": "Retrieve Notes",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        120,
        540
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "z4zjcx9Q0SaMQymM",
          "name": "Google Docs account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "89dd8864-d4df-475c-a222-702730d277e4",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        620,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "dd5f9fc1-e884-412f-94d1-7c5da700d516",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        440,
        320
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        140
      ],
      "id": "3dfa1de3-79a8-423e-ad9c-12014b70c4a2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        920,
        680
      ],
      "id": "e4ecd387-6496-455c-9e53-3fbdca7fa00f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a5oyPAwibiOEyC8n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ (+new Date()).toString(36).slice(-5) + Math.random().toString(36).substr(2, 5) }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1240,
        680
      ],
      "id": "61ad7bf1-eb4d-4620-b358-11e2e9f72593",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get Memory",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/11H1SDQnvaKzu6ejvsurKBh7iO6d_Jf0AiA1FrVuWmMc/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1480,
        780
      ],
      "id": "acc43073-c2e9-424a-8009-7221f489685c",
      "name": "GetLongTermMemories",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "z4zjcx9Q0SaMQymM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Save Memory",
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/11H1SDQnvaKzu6ejvsurKBh7iO6d_Jf0AiA1FrVuWmMc/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={ \n  \"memory\": \"{{ $fromAI('memory') }}\",\n  \"date\": \"{{ $now }}\"\n}"
            }
          ]
        }
      },
      "id": "e43ca6af-e6ee-430e-9e43-5a95690fb970",
      "name": "SaveLongTermMemories",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        1620,
        660
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "z4zjcx9Q0SaMQymM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get Notes",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1iJY2WvGlJghwnLCOto-PjgwsJ1UhSSSxI2fFs-HZ3k4/edit?tab=t.0"
      },
      "id": "aa0df53d-9e2b-4627-a6cd-734f3a50c8ff",
      "name": "GetNotes",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        1800,
        800
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "z4zjcx9Q0SaMQymM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Save Notes",
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1iJY2WvGlJghwnLCOto-PjgwsJ1UhSSSxI2fFs-HZ3k4/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={ \n  \"note\": \"{{ $fromAI('memory') }}\",\n  \"date\": \"{{ $now }}\"\n}"
            }
          ]
        }
      },
      "id": "931716c1-572e-4e88-825f-1c82c5264d22",
      "name": "SaveNotes",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        1940,
        640
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "z4zjcx9Q0SaMQymM",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8nFlows21July2025",
  "repo_owner": "mridulsood",
  "repo_path": "https://github.com/mridulsood/n8nFlows21July2025.git",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-07-24T07:13:13.000Z",
  "versionId": "ab51d402-ac59-43ac-86d2-75958cafa6a8"
}